// Comments

.fy-comments {
  display: block;
  padding: @padding 0;
  margin-top: @grid-gutter-medium;
  border: 0;
}

.fy-comments-header {
  border: 0;
  padding-bottom: 0;
}

.fy-comments-form {
  padding-top: 0;
}
