// Content

.fy-post-content,
.fy-page-content {
  padding-bottom: @grid-gutter-medium;
}

// Empty

.fy-content-empty {

  // Icon
  .fy-icon {
    .eye,
    .ellipse {
      fill: @content-color-accent;
    }
  }
}

// Category

.fy-category-content {
  margin-bottom: @grid-gutter-medium;
}

// Term

.fy-term-content {
  margin-bottom: @grid-gutter-medium;
}
