// Datepicker
@import "datepicker/icons";

.fy-datepicker {
  .shadow-hover();
  border-radius: @border-radius;
}

.fy-datepicker-inline {
  box-shadow: none;
}

.ui-datepicker-calendar {
  tbody {
    tr {
      td {
        a.ui-state-default {
          border-radius: @border-radius-small;
        }
      }
    }
  }
}