// Post

// Single

.fy-post-single {

  // Footer

  .fy-post-footer {
    margin: @grid-gutter-medium 0;
    justify-content: center;
    text-align: center;
  }
}

// Menu

.fy-menu-header {
  text-align: center;
}

// Album

.fy-main-content {

  + .fy-album-section {
    margin-top: -(@grid-gutter-medium);
  }
}