// THEME FALLBACK - DO NOT INCLUDE ANYWHERE

// Variables // Necessary for correct files compilation
// URL
@template_directory_uri: '..';
// Pattern
@pattern: "none";
// Border
@border: "none";
// Filter
@filter: "none";
@filter-opacity: 0;
@filter-intensity: 0;
// Mask
@mask: "none";
// Loading
@loading: "simple-center";

// Skin
@import "skin/default.less";
// Theme
@import "../style.less";
// WooCommerce
@import "../style-woocommerce.less";