// Checkout

.woocommerce-cart,
.woocommerce-checkout {

  .fy-main {
    padding-top: @grid-gutter-medium;
  }

  // Content
  .fy-page-content {
    padding-bottom: 0;
  }
}

.woocommerce {

  // Login Toggle

  .woocommerce-form-login-toggle {

    // Message
    .woocommerce-info {
      padding-top: 0;
      text-align: center;
    }
  }
}