// Notice

@shop-notice-height: @bar-height;

body {
  &.woocommerce-demo-store {
    border-top: @shop-notice-height solid transparent;
  }
}

p {
  &.demo_store {
    line-height: @shop-notice-height;
    background-color: @bar-color-accent;
  }
}