// Color Variables

@color-light: #ffffff;
@color-dark: #00000a;

@color-primary: @content-color;
@color-accent: @content-color-accent;

@color-contrast-threshold: 60%;

// Header

@header-color-lighter: lighten(@header-color, 5%);
@header-color-xlighter: lighten(@header-color, 10%);
@header-color-xxlighter: lighten(@header-color, 15%);

@header-color-darker: darken(@header-color, 5%);
@header-color-xdarker: darken(@header-color, 10%);
@header-color-xxdarker: darken(@header-color, 15%);

// Header accent

@header-color-accent-lighter: lighten(@header-color-accent, 5%);
@header-color-accent-xlighter: lighten(@header-color-accent, 10%);
@header-color-accent-xxlighter: lighten(@header-color-accent, 15%);

@header-color-accent-darker: darken(@header-color-accent, 5%);
@header-color-accent-xdarker: darken(@header-color-accent, 10%);
@header-color-accent-xxdarker: darken(@header-color-accent, 15%);

// Header background

@header-color-background-lighter: lighten(@header-color-background, 5%);
@header-color-background-xlighter: lighten(@header-color-background, 10%);
@header-color-background-xxlighter: lighten(@header-color-background, 15%);

@header-color-background-darker: darken(@header-color-background, 5%);
@header-color-background-xdarker: darken(@header-color-background, 10%);
@header-color-background-xxdarker: darken(@header-color-background, 15%);

// Content

@content-color-lighter: lighten(@content-color, 5%);
@content-color-xlighter: lighten(@content-color, 10%);
@content-color-xxlighter: lighten(@content-color, 15%);

@content-color-darker: darken(@content-color, 5%);
@content-color-xdarker: darken(@content-color, 10%);
@content-color-xxdarker: darken(@content-color, 15%);

// Content accent

@content-color-accent-lighter: lighten(@content-color-accent, 5%);
@content-color-accent-xlighter: lighten(@content-color-accent, 10%);
@content-color-accent-xxlighter: lighten(@content-color-accent, 15%);

@content-color-accent-darker: darken(@content-color-accent, 5%);
@content-color-accent-xdarker: darken(@content-color-accent, 10%);
@content-color-accent-xxdarker: darken(@content-color-accent, 15%);

// Content background

@content-color-background-lighter: lighten(@content-color-background, 5%);
@content-color-background-xlighter: lighten(@content-color-background, 10%);
@content-color-background-xxlighter: lighten(@content-color-background, 15%);

@content-color-background-darker: darken(@content-color-background, 5%);
@content-color-background-xdarker: darken(@content-color-background, 10%);
@content-color-background-xxdarker: darken(@content-color-background, 15%);

// Post

@post-color-lighter: lighten(@post-color, 5%);
@post-color-xlighter: lighten(@post-color, 10%);
@post-color-xxlighter: lighten(@post-color, 15%);

@post-color-darker: darken(@post-color, 5%);
@post-color-xdarker: darken(@post-color, 10%);
@post-color-xxdarker: darken(@post-color, 15%);

// Post accent

@post-color-accent-lighter: lighten(@post-color-accent, 5%);
@post-color-accent-xlighter: lighten(@post-color-accent, 10%);
@post-color-accent-xxlighter: lighten(@post-color-accent, 15%);

@post-color-accent-darker: darken(@post-color-accent, 5%);
@post-color-accent-xdarker: darken(@post-color-accent, 10%);
@post-color-accent-xxdarker: darken(@post-color-accent, 15%);

// Post background

@post-color-background-lighter: lighten(@post-color-background, 5%);
@post-color-background-xlighter: lighten(@post-color-background, 10%);
@post-color-background-xxlighter: lighten(@post-color-background, 15%);

@post-color-background-darker: darken(@post-color-background, 5%);
@post-color-background-xdarker: darken(@post-color-background, 10%);
@post-color-background-xxdarker: darken(@post-color-background, 15%);

// Newsletter Accent

@newsletter-color-accent-lighter: lighten(@newsletter-color-accent, 5%);
@newsletter-color-accent-xlighter: lighten(@newsletter-color-accent, 10%);
@newsletter-color-accent-xxlighter: lighten(@newsletter-color-accent, 15%);

@newsletter-color-accent-darker: darken(@newsletter-color-accent, 5%);
@newsletter-color-accent-xdarker: darken(@newsletter-color-accent, 10%);
@newsletter-color-accent-xxdarker: darken(@newsletter-color-accent, 15%);

// Footer

@footer-color-lighter: lighten(@footer-color, 5%);
@footer-color-xlighter: lighten(@footer-color, 10%);
@footer-color-xxlighter: lighten(@footer-color, 10%);

@footer-color-darker: darken(@footer-color, 5%);
@footer-color-xdarker: darken(@footer-color, 10%);
@footer-color-xxdarker: darken(@footer-color, 15%);

// Footer accent

@footer-color-accent-lighter: lighten(@footer-color-accent, 5%);
@footer-color-accent-xlighter: lighten(@footer-color-accent, 10%);
@footer-color-accent-xxlighter: lighten(@footer-color-accent, 15%);

@footer-color-accent-darker: darken(@footer-color-accent, 5%);
@footer-color-accent-xdarker: darken(@footer-color-accent, 10%);
@footer-color-accent-xxdarker: darken(@footer-color-accent, 15%);

// Footer background

@footer-color-background-lighter: lighten(@footer-color-background, 5%);
@footer-color-background-xlighter: lighten(@footer-color-background, 10%);
@footer-color-background-xxlighter: lighten(@footer-color-background, 15%);

@footer-color-background-darker: darken(@footer-color-background, 5%);
@footer-color-background-xdarker: darken(@footer-color-background, 10%);
@footer-color-background-xxdarker: darken(@footer-color-background, 15%);

// States

@color-error: @error-color;
@color-success: @success-color;