// Font Variables

@font-monospace: monospace;

// Size

@font-size-xxlarge: 1.25rem;
@font-size-xlarge: 1.125rem;
@font-size-large: 1.0625rem;

@font-size: 1rem;

@font-size-small: 0.9375rem;
@font-size-xsmall: 0.875rem;
@font-size-xxsmall: 0.75rem;

// Weight

@font-weight-thin-extra: 100;
@font-weight-thin: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;
@font-weight-bold-extra: 900;

// Style

@font-style-normal: normal;
@font-style-italic: italic;
@font-style-oblique: oblique;

// Transform

@text-transform-none: none;
@text-transform-uppercase: uppercase;
@text-transform-lowercase: lowercase;
@text-transform-capitalize: capitalize;

// Letter Spacing

@letter-spacing-0: 0;
@letter-spacing-normal: normal;
@letter-spacing-small: 0.005em;
@letter-spacing-medium: 0.05em;
@letter-spacing-large: 0.1em;

// Line Height

@line-height-normal: normal;

@line-height-xxxlarge: (@line-height + 0.4);
@line-height-xxlarge: (@line-height + 0.3);
@line-height-xlarge: (@line-height + 0.2);
@line-height-large: (@line-height + 0.1);

//@line-height: 1.7;

@line-height-small: (@line-height - 0.2);
@line-height-xsmall: (@line-height - 0.4);
@line-height-xxsmall: (@line-height - 0.6);

@line-height-computed: ceil(@font-size-base * @line-height);

// Dropcap

@dropcap-size: 3.25em;