// Icon variables

// Sizes

@icon-size-xxxsmall: 12px;
@icon-size-xxsmall: 16px;
@icon-size-xsmall: 24px;
@icon-size-small: 28px;

@icon-size: 32px;

@icon-size-large: 36px;
@icon-size-xlarge: 48px;
@icon-size-xxlarge: 80px;
@icon-size-xxxlarge: 160px;