// Link variables

@link-color: fade(@content-color, @content-color-opacity);
@link-color-hover: @content-color-accent;

@link-border-color: fade(@content-color, @content-color-opacity - 20%);
@link-border-color-hover: @content-color-accent;

@link-border-width: @border-width-small;

// Bar

@bar-link-color: fade(@bar-color, @bar-color-opacity);
@bar-link-color-hover: @bar-color;

@bar-link-border-color: fade(@bar-color, @bar-color-opacity - 20%);
@bar-link-border-color-hover: @bar-color-accent;

// Header

@header-link-color: @header-color;
@header-link-color-hover: @header-color;

@header-link-border-color: fade(@header-color, 60%);
@header-link-border-color-hover: @header-color-accent;

// Heading

@heading-link-color: @heading-color;
@heading-link-color-hover: @heading-color;

@heading-link-border-color: fade(@heading-color, 60%);
@heading-link-border-color-hover: @heading-color-accent;

// Slideshow

@slideshow-link-color: @slideshow-color;
@slideshow-link-color-hover: @slideshow-color;

@slideshow-link-border-color: fade(@slideshow-color, 60%);
@slideshow-link-border-color-hover: @slideshow-color-accent;

// Post

@post-link-color: fade(@post-color, @post-color-opacity);
@post-link-color-hover: @post-color;

@post-link-border-color: fade(@post-color, 60%);
@post-link-border-color-hover: @post-color-accent;

// Footer

@footer-link-color: fade(@footer-color, @footer-color-opacity);
@footer-link-color-hover: @footer-color;

@footer-link-border-color: fade(@footer-color, 60%);
@footer-link-border-color-hover: @footer-color-accent;
