// Navigation Variables

@navigation-height: 72px;

// Link
@navigation-link-padding-vertical: @padding-xsmall;
@navigation-link-padding-horizontal: @padding-small;

// Sub-navigation

@navigation-sub-width-min: 260px;
@navigation-sub-width-max: 480px;

@navigation-sub-slide-length: @padding-small;
@navigation-sub-slide-duration: @transition-duration;

// Mobile

@navigation-mobile-z-index: (@layer-9 + 100);