// Progress variables

@progress-size: 40px;

@progress-color: @content-color;
@progress-color-background: @content-color-background-darker;

// Bar
@progress-bar-color: @content-color;

@progress-bar-color-background: @content-color-accent;
@progress-bar-color-background-primary: @content-color-accent;
@progress-bar-color-background-secondary: @content-color-background-lighter;
@progress-bar-color-background-warning: @color-warning;
@progress-bar-color-background-error: @color-error;
@progress-bar-color-background-success: @color-success;
@progress-bar-color-background-notice: @color-notice;