// Transition Variables

@transition-property: all;

@transition-duration: 0.4s;
@transition-duration-double: (@transition-duration * 2);
@transition-duration-triple: (@transition-duration * 3);

@transition-timing-function: ease;
@transition-timing-function-cubic-bezier: cubic-bezier(0.5, -0.5, 0.25, 1.5);

@transition-delay: 0s;