// Default

// Fonts
@font-primary: "Manrope";
@font-secondary: "Inter";

@font-size-base: 16px;

@font-scale: 1.150;
@font-weight: 400;
@letter-spacing: 0;
@text-transform: none;
@line-height: 1.7;

@font-size-heading: 16px;
@font-weight-heading: 700;
@letter-spacing-heading: 0;
@text-transform-heading: none;
@line-height-heading: 1.3;

@font-navigation: @font-secondary;
@font-size-navigation: 16px;
@font-weight-navigation: 400;
@letter-spacing-navigation: 0;
@text-transform-navigation: none;

@font-button: @font-primary;
@font-size-button: 16px;
@font-weight-button: 400;
@letter-spacing-button: 0;
@text-transform-button: none;

// Logo
@logo-padding: 0;

// Pattern
@pattern: "none";
@pattern-color: #1e1e28;
@pattern-opacity: 20%;

// Border
@border: "break-large";
@border-width: 2px;
@border-radius: 2px;

// Filter
@filter: "none";
@filter-opacity: 75%;
@filter-intensity: 50%;

// Mask
@mask: "none";

// Loading
@loading: "none";
@loading-color: #282846;
@loading-color-background: #ffffff;

// Background
@background-color: #ffffff;
@background-overlay-color: #282846;
@background-overlay-opacity: 60%;

// Bar
@bar-color: #282846;
@bar-color-opacity: 80%;
@bar-color-accent: #282846;
@bar-color-background: #ffffff;

// Header
@header-padding: 40px;

@header-color: #ffffff;
@header-color-accent: #c84b55;
@header-color-background: #141432;
@header-color-background-opacity: 0%;

@header-sticky-color: #282846;
@header-sticky-color-accent: #c84b55;
@header-sticky-color-background: #ffffff;
@header-sticky-color-background-opacity: 100%;

// Heading
@heading-color: #ffffff;
@heading-color-accent: #c84b55;
@heading-color-background: #141432;
@heading-color-background-opacity: 100%;

@heading-font-multiplier: 1.4;

@heading-background-overlay-color: #141432;
@heading-background-overlay-opacity: 50%;

@heading-background-gradient-color: #141432;
@heading-background-gradient-opacity: 50%;
@heading-background-gradient-angle: 0deg;

@heading-background-image-size: cover;
@heading-background-image-position-x: center;
@heading-background-image-position-y: center;

// Navigation
@navigation-padding: 0;

@navigation-color: #ffffff;
@navigation-color-accent: #c84b55;
@navigation-color-background: #141432;
@navigation-color-background-opacity: 0%;

@navigation-sub-color: #282846;
@navigation-sub-color-accent: #c84b55;
@navigation-sub-color-background: #ffffff;

@navigation-mobile-color: #282846;
@navigation-mobile-color-accent: #c84b55;
@navigation-mobile-color-background: #ffffff;

@navigation-mobile-overlay-color: #141432;
@navigation-mobile-overlay-opacity: 95%;

// Slideshow
@slideshow-color: #ffffff;
@slideshow-color-accent: #c84b55;
@slideshow-color-background: #141432;
@slideshow-color-background-opacity: 100%;

@slideshow-slide-color-background: #141432;
@slideshow-slide-color-background-opacity: 100%;

@slideshow-slide-overlay-color: #141432;
@slideshow-slide-overlay-color-opacity: 50%;

@slideshow-slide-gradient-color: #141432;
@slideshow-slide-gradient-opacity: 50%;
@slideshow-slide-gradient-angle: 0deg;

@slideshow-slide-image-position-x: center;
@slideshow-slide-image-position-y: center;
@slideshow-slide-image-size: cover;

@slideshow-speed: 600ms;
@slideshow-slides-gutter: 0;

@slideshow-font-multiplier: 1.4;

@slideshow-image-overlay-color: #141432;
@slideshow-image-overlay-opacity: 50%;

@slideshow-image-gradient-color: #141432;
@slideshow-image-gradient-opacity: 0%;
@slideshow-image-gradient-angle: 135deg;

// Carousel
@carousel-slides-gutter: 40px;

// Content
@content-color: #282846;
@content-color-opacity: 80%;
@content-color-accent: #c84b55;
@content-color-background: #ffffff;

// Image
@image-overlay-color: #282846;
@image-overlay-opacity: 20%;

// Posts
@post-gutter: 40px;

// Post
@post-color: #282846;
@post-color-opacity: 80%;
@post-color-accent: #c84b55;
@post-color-background: #ffffff;

// Categories
@category-gutter: 20px;

// Category
@category-color: #ffffff;
@category-color-accent: #c84b55;
@category-color-background: #282846;

// Newsletter
@newsletter-color: #ffffff;
@newsletter-color-accent: #c84b55;
@newsletter-color-background: #282846;

// Footer
@footer-padding: 20px;

@footer-color: #ffffff;
@footer-color-opacity: 80%;
@footer-color-accent: #fa7d7d;
@footer-color-background: #141432;
@footer-color-background-opacity: 100%;

// Off-canvas
@off-overlay-color: #141432;
@off-overlay-opacity: 95%;

// Call-to-Action
@call-to-action-color: #ffffff;
@call-to-action-color-accent: #c84b55;
@call-to-action-color-background: #c84b55;

// Datepicker
@datepicker-color: #282846;
@datepicker-color-accent: #c84b55;
@datepicker-color-background: #ffffff;

// Player
@player-color: #282846;
@player-color-accent: #c84b55;
@player-color-background: #ffffff;

// Lightbox
@lightbox-color: #ffffff;
@lightbox-color-background: #141432;
@lightbox-color-background-opacity: 95%;

// Search
@search-color: #282846;
@search-color-accent: #c84b55;
@search-color-background: #ffffff;

// States
@error-color: #c84b55;
@success-color: #508c78;